.container {
  width: 100%;
}

.head_menu {
  background-color: #D3D3D3;
  border-bottom: #00868B;
}

body {
  background-color: white;
}

h1 {
  color: #00868B;
  font-family: Raleway;
}

ul li {
  display: inline;
  float: right;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #7f0000;
}

p {
  color: #00868B;
}

button {
  border-radius: 4px;
}

.choices {
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-left: 40%;
  padding-top: 10%
}

/**/