<div class="container">
<div class = "head_menu">
<h1>Rescue</h1>

<ul>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Contact</a></li>
</ul>

</div>
<br>

<div class = "choices">
<p>Welcome to Rescue.</p>

<p>What would you like to do?</p>
<button class= "dogs">Dogs</button>
<button class= "cats">Cats</button>
<br><br><br><br><br><br><br><br>

<div class="photos">
</div>



<!-- <div class="threeD">
  <div class="iphone-front">
  </div>
  <div class="iphone-back">
  </div>


</div> -->
