<div class="container">
<div class = "head_menu">
<h1>Rescue</h1>

<ul>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="/">Home</a></li>
</ul>

</div>
<br>

<div class = "choices">
<p>Welcome to Rescue.</p>

<p>What would you like to do?</p>


<div class="form-buttons">
<form action="/search" method="get">
<input type="submit" value="Search"/>
</form>
<br>
<form action="/random" method="get">
<input type="submit" value="Random"/>
</form>
</div>



<!-- <div class="threeD">
  <div class="iphone-front">
  </div>
  <div class="iphone-back">
  </div>


</div> -->
